body {
  background: url('/assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  filter: brightness(0.9);
}

#container {
  text-align: center;
  padding: 20px;
}

.toolbar {
  --background: linear-gradient(135deg, #6200ee, #9c47ff);
  --color: #ffffff;
  font-weight: bold;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.styled-input {
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  --placeholder-color: #888;
  --color: #333;
  --highlight-color-focused: #6200ee;
  --highlight-color-invalid: #b00020;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: transparent;
  background-color: transparent
  
}


.buttonTask {
  border-radius: 15px;
  padding: 12px 24px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
}

.checkbox {
  margin-right: 10px;
}
ion-checkbox {
  --size: 24px;
  --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}