<ion-header>
  <ion-toolbar class="toolbar"> 
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" id="container">
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="Doing">
      <ion-label>Doing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Done">
      <ion-label>Done</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!---- ========= DOING SEGMENT ========= ---->
  <ion-list *ngIf="segment === 'Doing'">
    <ion-list [inset]="true" *ngFor="let task of tasks; let i = index">
      <ng-container *ngIf="task.status === false">
        <ion-item>
          <ion-label>{{task.name}}</ion-label>
          <ion-checkbox (click)="changeStatus(i)" class="checkbox" justify="end"></ion-checkbox>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-list>

  <!---- ========= DONE SEGMENT ========= ---->
  <ion-list *ngIf="segment === 'Done'">
    <ion-list [inset]="true" *ngFor="let task of tasks; let i = index">
      <ng-container *ngIf="task.status === true">
        <ion-item>
          <ion-label>{{task.name}}</ion-label>
          <ion-button (click)="presentActionSheet(i)" fill="outline" color="danger">
            Options
          </ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-list>

  <!---- ========= INPUT TO WRITE NEW TASK ========= ---->
  <ion-item  *ngIf="segment === 'Doing'">
    <ion-input label="New Task" #taskInput label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-item>
  <ion-button 
    (click)="addNewTask(taskInput.value ? taskInput.value.toString() : '')" 
    fill="outline" 
    color="tertiary"
    class="buttonTask"
    *ngIf="segment === 'Doing'">
    save task
  </ion-button>

  

</ion-content>  
<ion-footer>
  <ion-toolbar>
    <ion-title align="center">Done by: CactuDev</ion-title>
  </ion-toolbar>
</ion-footer>

